@CHARSET "UTF-8";

/* example styles for validation form demo */
#registerForm {
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 350px;
}
 
#registerForm .fieldgroup {
    display: inline-block;
    padding: 8px 10px;
    width: 340px;
}
 
#registerForm .fieldgroup label {	
    float: left;
    padding: 15px 0 0;
    text-align: right;
    width: 110px;
}
 
#registerForm .fieldgroup input, #registerForm .fieldgroup textarea, #registerForm .fieldgroup select {
    float: right;
    margin: 10px 0;
    height: 25px;
}
 
#registerForm .submit {
    padding: 10px;
    width: 220px;
    height: 40px !important;
}
 
#registerForm .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}

#registerForm .ajax-error {
    color: #FF3AFA;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}